on:
  pull_request:

jobs:
  run-tests:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: dotnet build

      - name: Test
        run: dotnet test --no-build