on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    env:
      VERSION: ${{ startsWith(github.ref, 'refs/tags/v') && replace(github.ref_name, 'v', '') || '0.0.1-preview' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: dotnet build --configuration Release /p:Version=${{ env.VERSION }}

      - name: Test
        run: dotnet test --configuration Release /p:Version=${{ env.VERSION }} --no-build

      - name: pack
        run: dotnet pack --configuration Release /p:Version=${{ env.VERSION }}

      - name: Push
        run: dotnet nuget push **\*.nupkg --source 'https://api.nuget.org/v3/index.json' --api-key ${{ secrets.NUGETAPIKEY }} --skip-duplicate